    <!--<div class="row">
      <ul class="list-inline">
        <% @categories.each do |category| %>
          <li class="line-inline-item">
            <p><%= category.name %>
          </li>
        <% end %>
      </ul>
    </div> -->


  <h1>All Products</h1>
  <hr>

  <% @products.each_slice(3) do |products| %>
    <div class="row">
      <% products.each do |product| %>
        <div class="col-sm-4">
          <div class="product-container">
            <div class="product-image">
              <%= image_tag product.image, :class => "pull-right" %>
            </div>
            <div class="product-info">
              <!--<p class="category"><%= product.category.name %></p>-->
              <h4><%= product.name %></h4>
              <p class="price">$<%= product.price %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
