    <!--<div class="row">
      <ul class="list-inline">
        <% @categories.each do |category| %>
          <li class="line-inline-item">
            <p><%= category.name %>
          </li>
        <% end %>
      </ul>
    </div> -->

  <div class="col-sm-2">
    <div class="categories">
      <h3 class="categories-header">Categories</h3>
      <hr>
      <ul>
        <% @categories.each do |category| %>
          <li><a href="#"><%= category.name %></a></li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="col-sm-10">
    <h3>All Products</h3>
    <% @products.each_slice(4) do |products| %>
      <div class="row clearfix">
        <% products.each do |product| %>
          <div class="col-sm-3">
            <div class="product-container">
              <%= image_tag product.image%>
              <div class="product-info">
                <p class="name"><%= product.name %></p>
                <h4>$<%= product.price %></h4>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
    <div class="col-sm-12 text-center">
      <%= paginate @products %>
    </div>
  </div>
