<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
    <li data-target="#myCarousel" data-slide-to="4"></li>
    <li data-target="#myCarousel" data-slide-to="5"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag("banner4") %>
    </div>

    <div class="item">
      <%= image_tag("banner5") %>
    </div>

    <div class="item">
      <%= image_tag("banner6") %>
    </div>

    <div class="item">
      <%= image_tag("banner7") %>
    </div>

    <div class="item">
      <%= image_tag("banner8") %>
    </div>

    <div class="item">
      <%= image_tag("banner9") %>
    </div>
  </div>
</div>
